div,p,img,span,h5{margin: 0;padding: 0;}
body{font-family: "微软雅黑"!important ;font-size: 12px;background:#fbfbfb;}
a:hover{text-decoration:none;}
.box_banner{background: #0d2a52;}
.banner_pic{
	background: url(../images/kfz-bg.png) no-repeat;
	background-size:100% 320px;
	margin: auto;
	height: 300px;
	width: 1000px;
}

.box1{width:1000px;margin: auto;margin-top: 30px;}
.box1>div{display: inline-block;text-align: center;background: #fff;}
.box1>div>div{display: inline-block;width: 251px;border: 1px solid #ccc;margin-left: -1px;margin-top: -1px;} 

.box1>div>div:hover{border: 1px solid blue;position:relative;z-index:2;}
.pic a{width: 251px;height: 201px;display: inline-block;text-decoration: none;}
.pic a:hover{text-decoration: none;}
.pic a:link {text-decoration: none;}
.pic a:visited {text-decoration: none;}

.pic img{width: 89px;height: 89px;border-radius:50% ;margin-top: 24px;}
.box1 h3{font-size: 18px;color: #4e4f50;}


.box1 div p{margin-top: 15px;font-size: 16px;letter-spacing:0.5px;font-family: "microsoft yahei";color: #333}
.box1 div p:last-child{font-size: 14px;color: #999;margin-top: 5px;margin-bottom: 24px;}
h4{
	padding:10px 10px 0 0 ;
	border-bottom: 1px solid #ccc;font-size: 18px;
	background:#fbfbfb;
	width: 1000px;
	height: 52px;
	margin: auto;
	}
h4 span{display: inline-block;padding: 10px 0;margin-left: 20px;}	
h4 span:first-child{margin-left: 0;}
.border_botm{border-bottom: 3px solid #0a7edc;color:#0a7edc;}
h4 span:hover{cursor: pointer;}
.box2{width:1000px;margin:auto;background: #fff;padding-bottom:30px ;margin-bottom: 30px;}
.box2 div{display: inline-block;}
.xian{display: block;}
.box_pic{margin-left: 5px;text-align: center;width: 120px;margin-top: 30px;margin-right: 20px;}
.box_pic img{width: 60px;height: 60px;margin-bottom: 10px;}
.box_pic p{margin-top: 5px;}
.box_pic p span{display: inline-block;width: 20px;height: 20px;border-radius: 50%;background: #ddd;color: blue;margin-right: 10px;}
.box2 .san{
	display: inline-block; width:50px;height:50px;
	background: url("../images/sanjiao.png")no-repeat;
	background-size: 50%;
	position: relative;
	top:-26px ;
	left: 8px;
	}

