* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
}
h1,h2{margin: 0;padding: 0;}
li {
	list-style: none;
}
.header {
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.sundun-nav {
	min-width: 1000px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	padding: 17px 0;
	overflow: hidden;
}
.nav-logo a {
	margin-right: 10px;
}
.nav-logo a img {
	border: none;
}
.sundun-nav h1,
h2 {
	float: left;
	line-height: 40px;
}
.sundun-nav h2 {
	font-weight: 100;
	color: #666666;
	font-size: 18px
}
.sundun-nav ul {
	float: right;
	height: 14px;
	margin-top: 10px;
	line-height: 14px;
}
.sundun-nav ul li {
	float: left;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #4d4d4d;
}
.sundun-nav ul li a {
	font-size: 12px;
	color: #666;
	text-decoration: none;
}
.sundun-nav ul li:nth-child(1) {
	border: none;
}
.sundun-banner {

	margin-left: auto;
	margin-right: auto;
	height: 340px;
	position: relative;
	overflow: hidden;
	background-color: rgba(50,80,110,0.5);
	background:url(../images/banne.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.banner-left {
	width: 100%;
	height: 700px;
	margin-top: 80px;
	background-image: url(../);
	background-repeat: no-repeat;
	/*background-color: rgba(50,80,110,0.5);*/
}
.banner-rigth {
	width: 290px;
	height: 380px;
	margin-top: 80px;
	float: right;
	position: absolute;
	top: 0;
	right: 5%;
	border: 1px solid #ccc;
}
#erweima {
	width: 281px;
	height: 304px;
	float: right;
	position: absolute;
	top: 13%;
	left: 3%;
	display: none;
}
#ewm img {
	width: 50px;
	height: 50px;
	margin-left: 50px;
	border: none;
}
.top-pic {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #4D4D4D;
	position: relative;
}
.top-pic a img {
	position: absolute;
	top: 0px;
	right: -22px;
	border: none;
	cursor: pointer;
}
.sundun-form .top-pic {
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
}
.sundun-form div {
	width: 246px;
	margin: 35px auto;
}
/*账号/名字/ID/密码/输入框style*/

.sundun-form .input-name input,
.sundun-form .input-pwd input {margin-top: -2px;padding:8px 0 5px 5px;width: 237px;font-weight: 500;
					  									color: #999;border: none;outline: none;width: 100%;
    													-webkit-box-shadow: 0 0 0px 1000px white inset;
    													border-bottom: 1px solid #ccc;background: none;}
.sundun-form.input-pwd {height: 50px;}

.sundun-form .form-last {margin-top: 30px;}

.sundun-form .form-last input {
	width: 246px;
	font-weight: 500;
	color: #999;
	border-radius: 3px;
	border: none;
	outline: none;
}
fieldset {
	border-radius: 3px;
	border: 2px solid #CCCCCC;
	height: 42px;
}
fieldset:hover {
	border: 2px solid #55c1db;
}
.sundun-form .form-last input {
	font-size: 14px;
	color: #fff;
	font-weight: 900;
	background: #11a8d3;
	padding: 8px 0;
}
/*.sundun-form legend {
	font-size: 12px;
	font-weight: 700;
	color: #4D4D4D;
	margin-left: 5px;*/
}
.form-last input {
	padding: 10px 0;
}

.form-last input:hover {
	opacity: 0.8;
	cursor: pointer;
}
.form-last input:active {
	opacity: 1;
}
.sundun-form .input-cookie input {
	vertical-align: bottom;
	margin-right: 5px;
	background: blue;
	vertical-align: sub;
}
.sundun-form .input-cookie span {
	color: rgb(68, 187, 216);
	font-weight: 500;
}
.sundun-form .input-cookie .input-cookie-left {
	margin-top: -8px;
}
.sundun-form .form-last2 a {
	text-decoration: none;
}
.sundun-form .form-last2 a:hover {
	text-decoration: underline;
}
.sundun-footer {
	border-top: 1px solid #ccc;
}
.footer-cantainer {
	margin: 35px 0 40px;
}
.footer-cantainer p {
	text-align: center;
	padding: 10px 0;
}
.footer-cantainer p a {
	padding: 0 5px;
	color: #999;
}
#first1 {
	margin-top: margin-top: 50px;
}
#first1 a {
	color: #666;
	font-size: 14px;
}
/*媒体查询*/
@media screen and (max-width: 1930px) {
	.sundun-nav {
		padding: 20px 0;
	}
	.sundun-banner {
		height: 580px;
	}
	.banner-left {
		background-size: 48%;
	}
	.banner-rigth {
		;
		right: 12%;
		height: 410px;
	}
}
@media screen and (max-width: 1366px) {
	.sundun-nav {
		padding: 10px 0;
	}
	.sundun-banner {
		height: 580px;
	}
	.banner-left {
		background-size: 50%;
	}
	.footer-cantainer p {
		text-align: center;
	}
}
@media screen and (max-width: 1280px) {
	.sundun-nav {
		padding: 10px 0;
	}
	.sundun-banner {
		height: 580px;
	}
}
@media screen and (max-width: 1024px) {
	.sundun-nav {
		padding: 10px 0;
	}
	.sundun-banner {
		height: 580px;
	}
	.banner-left {
		background-size: 55%;
	}
	.banner-rigth {
		top: 0;
		right: 5%;
	}
}
/*验证区域*/
.Validform_checktip {
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
}
.Validform_right {
	color: #71b83d;
	padding: 3px 0 3px 22px;
	background: url(../images/right.png) no-repeat left center;
	display: inline-block;
	border: 1px solid #f6c8b5;
	width: 222px;
	margin-top: -1px;
	margin-bottom: -3px;
	line-height: 18px;
}
.Validform_wrong {
	color: red;
	display: inline-block;
	padding: 3px 6px 3px 22px;
	border: 1px solid #f6c8b5;
	background: url(../images/error.png) no-repeat left center;
	width: 222px;
	margin-top: -1px;
	margin-bottom: -2px;
	line-height: 18px;
}
.Validform_loading {
	padding-left: 20px;
	background: url(../image/right.png) no-repeat left center;
}
.Validform_error {
	background-color: #fff;
}*/