<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd  
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
						http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task-4.0.xsd">
						
	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="cn.bukaa.controller"/>
    
    <!-- 扫描定时任务，并配置线程池大小 -->
	<task:annotation-driven scheduler="myScheduler"/>
	<task:scheduler id="myScheduler" pool-size="10"/>
	
	<!-- 对静态资源文件的访问  -->    
	<mvc:default-servlet-handler/> 
	
	<!-- 静态文件 
    <mvc:resources location="/assets/" mapping="/assets/**"></mvc:resources>
     -->
     
	<!-- 页面跳转 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"/>
		<property name="maxUploadSize" value="10485760000"/>
		<property name="maxInMemorySize" value="40960"/>
	</bean>

	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">redirect:../file/error_MaxUploadSize</prop>
			</props>
		</property>
	</bean>
	
	<import resource="classpath*:spring-cache.xml"/>
</beans>