<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bukaa.dao.Mapper.sys.SysUserMapper" >
  	<resultMap id="BaseResultMap" type="cn.bukaa.dao.entity.sys.SysUser" >
	    <id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="login_id" property="loginId" jdbcType="VARCHAR" />
	    <result column="login_pass" property="loginPass" jdbcType="VARCHAR" />
	    <result column="real_name" property="realName" jdbcType="VARCHAR" />
	    <result column="no" property="no" jdbcType="VARCHAR" />
	    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
	    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
	    <result column="sex" property="sex" jdbcType="VARCHAR" />
	    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
	    <result column="phone" property="phone" jdbcType="VARCHAR" />
	    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
	    <result column="email" property="email" jdbcType="VARCHAR" />
	    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
	    <result column="last_ip" property="lastIp" jdbcType="VARCHAR" />
	    <result column="login_num" property="loginNum" jdbcType="INTEGER" />
	    <result column="is_disabled" property="isDisabled" jdbcType="BIT" />
	    <result column="is_del" property="isDel" jdbcType="BIT" />
	    <result column="add_user" property="addUser" jdbcType="VARCHAR" />
	    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  	</resultMap>
 	<resultMap  id="blobResultMap" type="cn.bukaa.dao.entity.sys.SysUser" >
 		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="photo" property="photo" jdbcType="BLOB" />
	</resultMap>
	
	<!-- 表名 -->
	<sql id="tableNameSql">
		sys_user
	</sql>
	
	<!-- 列集合语句 -->
  	<sql id="columnListSql">
    	id, login_id, login_pass, real_name, no, org_id, org_name, sex, id_card, phone, mobile, 
    	email, last_time, last_ip, login_num, is_disabled, is_del, add_user, add_time
  	</sql>
  	
  	<!-- 插入集合语句 -->
  	<sql id="insertListSql">
    	id, login_id, login_pass, real_name, no, org_id, org_name, sex, id_card, phone, mobile, email, 
		photo, last_time, last_ip, login_num, is_disabled, add_user
  	</sql>
  	
  	<!-- Blob集合语句 -->
  	<sql id="blobListSql">
    	id, photo
  	</sql>
  	
  	<!-- 按主键查找条件语句 -->
  	<sql id="idSql">
  		id = #{id,jdbcType=VARCHAR}
  	</sql>
  	
  	<!-- 主查询语句 -->
  	<sql id="mainSql">
  		select <include refid="columnListSql"/> from <include refid="tableNameSql"/> p
  	</sql>
  	
  	<!-- 查询变量语句(使用like) -->
  	<sql id="searchSql">
  		<where>
      		<if test="loginId != null and loginId != ''" >and p.login_id like concat('%', #{loginId}, '%')</if>
  			<if test="realName != null and realName != ''" >and p.real_name like concat('%', #{realName}, '%')</if>
  			<if test="no != null and no != ''" >and p.no like concat('%', #{no}, '%')</if>
  			<if test="orgId != null and orgId != ''" >and p.org_id like concat('%', #{orgId}, '%')</if>
  			<if test="idCard != null and idCard != ''" >and p.id_card like concat('%', #{idCard}, '%')</if>
  		</where>
  	</sql>
  	
  	<!-- 查询变量语句(使用=) -->
  	<sql id="varSql">
  		<where>
  			<if test="loginId != null and loginId != ''" >and p.login_id = #{loginId}</if>
      		<if test="realName != null and realName != ''" >and p.real_name = #{realName}</if>
      		<if test="no != null and no != ''" >and p.no = #{no}</if>
      		<if test="orgId != null and orgId != ''" >and p.org_id = #{orgId}</if>
      		<if test="idCard != null and idCard != ''" >and p.id_card = #{idCard}</if>
  		</where>
  	</sql>
  	
  	<!-- 保存数据 -->
  	<insert id="save" parameterType="cn.bukaa.dao.entity.sys.SysUser" >
    	insert into <include refid="tableNameSql"/> (<include refid="insertListSql"/>)
    	values (#{id,jdbcType=VARCHAR}, #{loginId,jdbcType=VARCHAR}, #{loginPass,jdbcType=VARCHAR}, 
	      #{realName,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, 
	      #{orgName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
	      #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
	      #{photo,jdbcType=BLOB}, #{lastTime,jdbcType=TIMESTAMP}, #{lastIp,jdbcType=VARCHAR}, 
	      #{loginNum,jdbcType=INTEGER}, #{isDisabled,jdbcType=BIT}, #{addUser,jdbcType=VARCHAR})
  	</insert>
  	
  	<!-- 更新数据 -->
  	<update id="update" parameterType="cn.bukaa.dao.entity.sys.SysUser" >
    	update <include refid="tableNameSql"/>
    	<set>
			login_id = #{loginId,jdbcType=VARCHAR},
			login_pass = #{loginPass,jdbcType=VARCHAR},
			real_name = #{realName,jdbcType=VARCHAR},
			no = #{no,jdbcType=VARCHAR},
			org_id = #{orgId,jdbcType=VARCHAR},
			org_name = #{orgName,jdbcType=VARCHAR},
			sex = #{sex,jdbcType=VARCHAR},
			id_card = #{idCard,jdbcType=VARCHAR},
			phone = #{phone,jdbcType=VARCHAR},
			mobile = #{mobile,jdbcType=VARCHAR},
			email = #{email,jdbcType=VARCHAR},
			<if test="photo != null" >photo = #{photo,jdbcType=BLOB},</if>
			last_time = #{lastTime,jdbcType=TIMESTAMP},
			last_ip = #{lastIp,jdbcType=VARCHAR},
			login_num = #{loginNum,jdbcType=INTEGER},
			is_disabled = #{isDisabled,jdbcType=BIT},
      		<if test="isDel != null" >is_del = #{isDel,jdbcType=BIT},</if>
      		<if test="addUser != null" >add_user = #{addUser,jdbcType=VARCHAR},</if>
      		<if test="addTime != null" >add_time = #{addTime,jdbcType=TIMESTAMP},</if>
    	</set>
    	where <include refid="idSql"/>
  	</update>
  
  	<!-- 根据主键删除 -->
  	<delete id="deleteById" parameterType="java.lang.String" >
    	delete from <include refid="tableNameSql"/> where <include refid="idSql"/>
  	</delete>
  	
  	<!-- 根据多个主键删除 -->
  	<delete id="deleteByIds" parameterType="Object[]" >
    	delete from <include refid="tableNameSql"/> where id in <foreach index="index" item="item" collection="array" separator="," open="(" close=")" >#{item}</foreach>
  	</delete>
  	
  	<!-- 根据主键删除头像 -->
  	<delete id="deletePhoto" parameterType="java.lang.String" >
    	update <include refid="tableNameSql"/> set photo = null where <include refid="idSql"/>
  	</delete>
  
  	<!-- 查找所有数据 -->
  	<select id="findAll" resultMap="BaseResultMap">
    	<include refid="mainSql"/>
  	</select>
  	
  	<!-- 根据主键查找数据 -->
  	<select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    	select <include refid="columnListSql"/> from <include refid="tableNameSql"/> where <include refid="idSql"/>
  	</select>
  	
</mapper>