/* ………………………………应用详情页 ………………………………   */
ul{
	padding: 0;
}
ul > li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.yingyongxinagqing{
	width: 100%;
	overflow: hidden;
	background-color: #f5f5f5;
	font-family: 微软雅黑;
}
.boxshadow{
	box-shadow: 0px 0px 5px #ECECEC;
}
.yingyongxinagqing .boxshadow>.nav2{
	height: 75px;
}
.nav2{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.nav2>ul{
	width: 149px;
	overflow: hidden;
	padding-top: 22px;
	white-space: nowrap;
}
.nav2>ul>li{
	width: 75px;
	border-right: 1px solid #aaaaaa;
	line-height: 20px;
	font-size: 16px;
	font-family: 微软雅黑;
	font-weight: 400;
	text-align: center;
	float: left;
}
.nav2>ul>li a{
	display: inline-block;
	text-decoration: none;
	color: #333;
}
.nav2>ul>li.selected a{
	border-bottom: 3px solid #237ded;

}
.yingyongxinagqing .top,.yingyongxinagqing .middle,.yingyongxinagqing .bottom{
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;

}
.yingyongxinagqing .top,.yingyongxinagqing .bottom{
	border-bottom: 1px solid #ECECEC;
}
.yingyongxinagqing>.container{
	width: 1030px;
	margin: 0 auto;
}
.yingyongxinagqing .container .top,.yingyongxinagqing>.container .top{
	padding: 20px;
	background-color: #ffffff;
}
.container .top>.image{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 13px;
	background-color: #f5f5f5;
	display: inline-block;
}
.top>.image,.top>.details,.top>.downloadBt{
	display: inline-block;
	vertical-align: middle;
}
.container .top>.details{
	width: 600px;
	padding-left: 20px;
}
.details>div{
	line-height: 35px;
}
.yingyongtittle span{
	font-size: 18px;
	font-weight: 600;
}
.downloadBt>.btn{
	font-size: 17px;
	display: block;
	width: 150px;
	text-align: center;
}
.btn:first-child{
	margin-bottom: 18px;
}
.btn:last-child{
	margin-top: 18px;
}
.yingyongxinagqing .middle{
	width: 1000px;
	position: relative;

}
.middle .leftBt,.middle .rightBt{
	cursor: pointer;
	position: absolute;
	width: 44px;
	height: 44px;
	top: 50%;
	margin-top: -22px;
}
.leftBt{
	background: url("../images/arrow.png") no-repeat -44px 0;
	left: 0;
	z-index:9;
	
}
.leftBt:hover{
	background: url("../images/arrow.png") no-repeat 0 0;
}
.rightBt{
	background: url("../images/arrow.png") no-repeat -44px -44px;
	right: 0;
}
.rightBt:hover{
	background: url("../images/arrow.png") no-repeat 0 -44px;
}
.imagesContainer{
	width: 960px;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
}
.images{
	width: 900px;
	margin-top: 15px;
	margin-bottom: 20px;
	height: 380px;
    overflow-y: hidden;
}
.images>.imgs{
	display: inline-block;
	margin-right: 20px;
	position: relative;
	height:550px;
	width:330px;
}
.vertion{
	margin: 10px 19px;
	color: #999999;
}
.YYxinxi{
	margin-left: 19px;
}

.YYxinxi .more,.YYxinxi .fold{
	color: #0a7edc;
	position: inherit;
	cursor: pointer;
}
.xiangguanYY{
	margin-left: 20px;
	margin-top: 10px;
}
p.tit{
	font-size: 16px;
	font-weight: 600;
	line-height: 35px;
	margin-top: 10px;
}
.xiangguanYY div{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	height: 106px;
	padding-top: 17px;
}
.xiangguanYY>ul{
	overflow: hidden;
	margin-top: 15px;
}
.xiangguanYY>ul>li{
	float: left;
	margin-left: 10px;
	width: 225px;
	height: 106px;
	background-color: #ffffff;
	font-size: 12px;
}
.xiangguanYY>ul>li>img{
	margin-left: 15px;
}
.xiangguanYY>ul>li p{
	margin: 0 0 5px;
}
.xiangguanYY .btn{
	font-size: 12px;
	margin: 0;
	padding: 3px;
	background-color: #e6e6e6;
}
.comment{
	padding:0 20px;
}
.text-area{
	min-height: 100px;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	margin-top: 10px;
	width: 100%;
	padding:10px 20px;
	line-height: 25px;
}

.offset-center{
	margin-left: 45%;
}
.det-comment-info{
	margin-left: 10px;
	margin-right: 10px;
}
.comment-list{
	font-size: 14px;
	width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
	border: 1px solid #dcdcdc;
	box-shadow: 0px 0px 5px #dcdcdc;
	background-color: #ffffff;
}
.comment-list>ul{
	border-bottom: 1px solid #dcdcdc;
}
.comment-name-line{
	height: 20px;
}
.comment-name{
	font-weight: 700;
	float: left;
}
.commont-star{
	float: left;
	margin: 0 0 0 15px;
}
.comment-date{
	float: right;
	color: #b0b0b0;
}
.comment-datatext{
	line-height: 20px;
	margin: 6px 0 0;
	word-break: break-all;
	word-wrap: break-word;
}
.comment-list li{
	border-top: 1px solid #dcdcdc;
	padding: 15px 0;
	zoom: 1;
}
#comment-more{
	width: 125px;
	height: 30px;
	display: block;
	text-align: center;
	line-height: 30px;
	margin: 15px auto 60px;
	background: #f5f5f5;
	border: 1px solid #c4c4c4;
}
#comment-more>div>a{
	color: #666;

}

#comment-more>div>a:hover,#comment-more>div>a:focus{
	text-decoration: none;
	color: #666;
}
.scroll_list{ 
	width:10000em;
 	position:absolute;
 }
.box1 {height:500px; float:left; width:900px; overflow: hidden; position:relative; } 
.box1 li { float:left; margin-left:5px; margin-right:5px; width:303px; height:400px;font-size:50px;color:#ccc;line-height:66px;} 
.box1 li:hover { color:#999; } 
.box1 li.active { background-position:-174px 0; color:#555;cursor:default;

a.prev, a.next {background:url(arrow.png) no-repeat 0 0; display:block;width:23px;height:43px; float:left; margin:15px 0 0 0; cursor:pointer;} 
a.next { background-image:url(arrow.png)}


